<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Users/gim-yelin/Desktop/nodejs/swProject/public/main.css">
        <title>여행일기 - Travel Diary</title>
    </head>
    <body>
        <font size="7" style="text-shadow:5px 5px 3px silver"><a href="/">여행일기 - Travels Diary</a></font>
        <span class="spread-underline" style="position:absolute; right: 30px; top : 30px;">
            <ul id="menu">
                <li><a href="Information.html">사이트 소개</a></li>
                <li><a href="Login.html">로그인</a></li>
                <li><a href="DiaryList.html">일기 목록</a></li>
                <li><a href="Top10Page.html">Top10 페이지</a></li>
            </ul>
        </span>
        <hr>