@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
            body {
                font-family : "Gowun Batang";
            }
            #menu li{
                list-style-type : none;
                float : left;
                margin-left : 20px;

            }
            a {
                text-decoration:none;
                color : black;
                font-family:Gowun Batang;
            }

            #menu li :after {    
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: blue;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            #menu li a:hover:after { 
                width: 100%; 
                left: 0; 
            }

            [type=radio]{
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
            }

            [type=radio] + img{
                margin-left: 15px;
                cursor: pointer;
            }

            [type=radio]:checked + img{
                outline: 5px solid rgb(113, 191, 255);
            }
            textarea{
                font-family : "Gowun Batang";
                margin-left: 15px;
            }